* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: HelveticaNow,Helvetica,sans-serif;
}

/*header e menu fissato sempre sopra agli altri elementi con z-index*/
header {
  position: fixed;
  height: 80px;
  top: 0;
  width: 100%;
  z-index: 999;
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
}

main {
  padding-top: 80px;
}

footer{
  background-color: black;
  color: white;
  padding-top: 100px;
  padding-bottom: 100px;
}

.flex {
  display: flex;
}

.dir-row {
  flex-direction: row;
}

.dir-col {
  flex-direction: column;
}

.sp-btw {
  justify-content: space-between;
}

.jus-cent{
  justify-content: center;
}

.align-cent {
  align-items: center;
}
.align-strc{
  align-items: stretch;
}

.wrap {
  flex-wrap: wrap;
}

.jus-flx-str{
  justify-content: flex-start;
}

.logo {
  height: 100%;
}

.menu a, .logo a {
  margin-right: 30px;
}

header ul, footer ul {
  list-style: none;
}

.menu li a {
  color: black;
  text-decoration: none;
}


.container {
  width: 55%;
  margin: 0 auto;
}

.jumbotron {
  background-color: rgb(180, 208, 231);
}

.jumbotron .container {
  width: 65%;
  padding-top: 75px;
}

.jumbotron .titolo {
  width: 100%;
  font-size: 75px;
}

h1 {
  font-size: 50px;
  line-height: 75px;
}

img {
  width: 100%;
}

.jumbo-bottom{
  width: 100%;
  height: 320px;
  padding-top: 50px;
}

.jumbotron .text{
  width: calc(100%/3);
  font-size: 13px;
  line-height: 17px;
  height: 100%;
}

.img-jumbo{
  width: calc(100%/3*2);
  height: 100%;
  position: relative;
  left: 0;
  top: 0;
}

.img-jumbo img{
  width: 600px;
}

.bottone{
  padding: 5px;
  background-color: blue;
  width: fit-content;
  height: fit-content;
}

.jumbotron .bottone {
  margin-top: 30px;
}

.jumbotron .bottone a {
  color: white;
  text-decoration: none;
}

.jumbotron span.annulla{
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.jumbotron i{
  font-size: 30px;
  padding-bottom: 10px;
}

.piano-business {
  padding-top: 100px;
  padding-bottom: 50px;
}

.titolo-radio-b {
  height: 170px;
  width: 100%;
}

.radio-b {
  padding-top: 50px;
}

.radio-b label {
  margin-right: 20px;
}

.piani-b{
  width: 100%;
}

.piano {
  width: calc(100%/3);
  padding: 0 10px;
}

.bordo {
  border: 1px solid black;
  height: 630px;
  width: 100%;
}

.piano .gruppo {
  width: 100%;
  height: 25px;
  text-align: center;
  border-bottom: 1px solid black;
  padding-top: 3px;
}

.piano .info {
  height: 350px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.piano .info ul{
  list-style: none;
}

.piano .info li:nth-child(1) ::before{
  font-family: "Font Awesome 6 Free";
  content: "\f007";
}

.piano .info li:nth-child(2) ::before{

}

.piano .info li:nth-child(3) ::before{

}

.piano .info li:nth-child(3) ::before{

}

.piano .bottone {
  margin: auto;
  width: 100%;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.piano .bottone  a{
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.salienti {
  padding-left: 20px;
  padding-right: 20px;
}


.piano.orz {
  width: 100%;
  padding-top: 50px;
}

.area-bottone {
  width: 40%;
  height: 100%;
  position: relative;
}

.piano.orz .bottone{
  width: fit-content;
  position: absolute;
  top: 20px;
  right: 20px;
}

.piano.orz .info {
  padding-left: 20px;
  padding-right: 20px;
  width: 60%;
}

.piano.orz .info, .piano.orz .salienti, .piano.orz .bordo {
  height: auto;
}

.partner .container {
  padding: 50px 0;
}

.partner .bottone{
  background-color: white;
  border: 1px solid black;
  margin-top: 15px;
}

.partner .bottone a{
  color: black;
  text-decoration: none;
}

.partner .text h2{
  margin-bottom: 15px;
}

.info-business {
  padding-top: 100px;
  padding-bottom: 100px;
}

.area-card {
}

.card {
  width: calc(100%/3);
  height: calc(100%/2);
  padding-right: 10px;
}

.info-business .card img{
  width: 235px;
  align-self: center;
}

.team {
  padding-top: 100px;
  padding-bottom: 100px;
}

.brand {
  width: 100%;
  background-color: khaki;
}

.square {
  width: calc(100%/3);
}

.inner-square {
  padding-top: 100%;
  height: 0;
  overflow: hidden;
  position: relative;
}

.square-content{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.brand .card {
  height: calc(100%/2);
  width: calc(100%/2);
  padding-left: 40px;
  padding-right: 40px;
}

.brand .card img {
  filter:invert(100%);
}

.brand .sx .card:nth-child(1){
  background-color: rgb(162, 211, 155);
}

.brand .sx .card:nth-child(2){
  background-color: rgb(97, 8, 43);
}

.brand .sx .card:nth-child(3){
  background-color: rgb(0, 147, 206);
}

.brand .sx .card:nth-child(4){
  background-color: rgb(255, 28, 28);
}

.brand .dx .card:nth-child(1){
  background-color: rgb(213, 0, 31);
}

.brand .dx .card:nth-child(2){
  background-color: rgb(180, 208, 231);
}

.brand .dx .card:nth-child(3){
  background-color: rgb(13, 36, 129);
}

.brand .dx .card:nth-child(4){
  background-color: rgb(255, 216, 48);
}

.square-content.txt {
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
  overflow-y: scroll;
}

.square-content.txt img{
  width: 40%;
}

.square-content .card:active{
  border: 10px solid rgba(255, 255, 255, 0.648);
}

.prova {
  background-color: rgb(180, 208, 231);
  padding-top: 100px;
  padding-bottom: 100px;
}

.prova-titolo {
  width: 60%;
}

.prova-button {
  width: 40%;
}

.prova-button .bottone{
  background-color: white;
}

.prova-button .bottone a{
  color: black;
  text-decoration: none;
}

.q-and-a {
  padding: 100px 0;
}

.question{
  width: 100%;
  margin: 40px 0;
}

.question p {
  display: none;
}

.question h3:hover ~ p {
  display: block;
}

.text:not(.jumbotron .text) {
  width: 300px;
  height: 300px;
  margin-left: 30px;
}

.img-partner{
  width: 600px;
}

.footer-top, .footer-bottom {
  width: 100%;
}

footer .menu li a {
  color: white;
}

.footer-top {
  margin-bottom: 100px;
}

footer hr {
  width: 75px;
  margin-bottom: 50px;
}