* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: HelveticaNow,Helvetica,sans-serif;
}

/*header e menu fissato sempre sopra agli altri elementi con z-index*/
header {
  position: fixed;
  height: 80px;
  top: 0;
  width: 100%;
  z-index: 999;
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
}

main {
  padding-top: 80px;
}

footer{
  background-color: black;
  color: white;
  padding-top: 100px;
  padding-bottom: 100px;
}

.flex {
  display: flex;
}

.dir-row {
  flex-direction: row;
}

.sp-btw {
  justify-content: space-between;
}

.jus-cent{
  justify-content: center;
}

.align-cent {
  align-items: center;
}
.align-strc{
  align-items: stretch;
}

.wrap {
  flex-wrap: wrap;
}

.jus-flx-str{
  justify-content: flex-start;
}

.logo {
  height: 100%;
}

.menu a, .logo a {
  margin-right: 30px;
}

header ul, footer ul {
  list-style: none;
}

.menu li a {
  color: black;
  text-decoration: none;
}


.container {
  width: 55%;
  margin: 0 auto;
}

.jumbotron {
  background-color: rgb(180, 208, 231);
}

.jumbotron .container {
  width: 65%;
  padding-top: 75px;
}

.titolo {
  width: 100%;
  font-size: 75px;
}

h1 {
  font-size: 50px;
  line-height: 75px;
}

.jumbo-bottom{
  width: 100%;
  height: 320px;
  padding-top: 50px;
}

.jumbotron .text{
  width: calc(100%/3);
  font-size: 13px;
  line-height: 17px;
  height: 100%;
}

.img-jumbo{
  width: calc(100%/3*2);
  height: 100%;
  position: relative;
  left: 0;
  top: 0;
}

.img-jumbo img{
  width: 600px;
}

.bottone{
  padding: 5px;
  background-color: blue;
  width: fit-content;
  height: fit-content;
}

.jumbotron .bottone {
  margin-top: 30px;
}

.jumbotron .bottone a {
  color: white;
  text-decoration: none;
}

.jumbotron span.annulla{
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.jumbotron i{
  font-size: 30px;
  padding-bottom: 10px;
}

.piano-business {
  padding-top: 150px;
  padding-bottom: 150px;
}

.titolo-radio-b {
  height: 170px;
  width: 100%;
}

.radio-b {
  padding-top: 50px;
}

.radio-b label {
  margin-right: 20px;
}

.piani-b{
  width: 100%;
}

.piano {
  width: calc(100%/3);
  padding: 0 10px;
}

.bordo {
  border: 1px solid black;
  height: 630px;
  width: 100%;
}

.piano .gruppo {
  width: 100%;
  height: 25px;
  text-align: center;
  border-bottom: 1px solid black;
  padding-top: 3px;
}

.piano .info {
  height: 350px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.piano .bottone {
  margin: auto;
  width: 100%;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.piano .bottone  a{
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.salienti {
  padding-left: 20px;
  padding-right: 20px;
}


.piano.orz {
  width: 100%;
  padding-top: 50px;
}

.area-bottone {
  width: 40%;
  height: 100%;
}

.piano.orz .bottone{
  width: fit-content;
  float: right;
  position: relative;
  top: 20px;
  right: 20px;
}

.piano.orz .info {
  padding-left: 20px;
  padding-right: 20px;
  width: 60%;
}

.piano.orz .info, .piano.orz .salienti, .piano.orz .bordo {
  height: auto;
}

.enterprise {
  width: 100%;
  height: 300px;
  background-color: aqua;
}

.partner {
  height: 700px;
  background-color: blue;/*rimuovere*/
}

.info-business {
  height: 1250px;
  padding-top: 100px;
  background-color: slategray;
}

.area-card {
  background-color: blueviolet;
  height: 750px;
}

.card {
  width: calc(100%/3);
  border: 1px solid red;
  background-color: lightsalmon;
  height: calc(100%/2);
}

.team {
  height: 200px;
  background-color: darkcyan;
}

.brand {
  width: 100%;
  background-color: khaki;
  height: 400px;
}

.sx {
  background-color: rebeccapurple;
  width: 400px;
  height: 400px;
  float: left;
}

.dx {
  background-color: aqua;
  width: 400px;
  height: 400px;
  float: right;
  position: relative;
  top: 0;
  right: 0;
}

.brand .card {
  height: calc(100%/2);
  width: calc(100%/2);
}

.brand-txt {
  padding-top: 40px;
  padding-left: 430px;
  padding-right: 430px;
}

.brand-txt .top, .brand-txt p {
  margin-bottom: 40px;
}

.brand-name{
  height: 100px;
  width: 100%;
}

.prova {
  height: 360px;
  background-color: rgb(180, 208, 231);
}

.prova-titolo {
  height: 360px;
  width: 60%;
  background-color:hotpink;
}

.prova-button {
  height: 360px;
  width: 40%;
  background-color:chocolate;
}

.q-and-a {
  padding: 100px 0;
}

.question{
  height: 200px;
  width: 100%;
  background-color: chartreuse;
  margin: 40px 0;
}

.text:not(.jumbotron .text) {
  width: 300px;
  height: 300px;
  background-color: fuchsia;
}

.img-partner{
  background-color: purple;
  width: 600px;
  height: 500px;
}

.footer-top, .footer-bottom {
  width: 100%;
}

footer .menu li a {
  color: white;
}

.footer-top {
  margin-bottom: 100px;
}

footer hr {
  width: 75px;
  margin-bottom: 50px;
}