* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: HelveticaNow,Helvetica,sans-serif;
}

/*header e menu fissato sempre sopra agli altri elementi con z-index*/
header {
  position: fixed;
  height: 60px;
  top: 0;
  width: 100%;
  z-index: 999;
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
}

main {
  padding-top: 60px;
}

footer {
  background-color: black;
  color: white;
  padding-top: 100px;
  padding-bottom: 50px;
}

.flex {
  display: flex;
}

.dir-row {
  flex-direction: row;
}

.dir-col {
  flex-direction: column;
}

.sp-btw {
  justify-content: space-between;
}

.jus-cent{
  justify-content: center;
}

.align-cent {
  align-items: center;
}
.align-strc {
  align-items: stretch;
}

.wrap {
  flex-wrap: wrap;
}

.jus-flx-str {
  justify-content: flex-start;
}

.logo {
  height: 100%;
}

.menu a, .logo a {
  margin-right: 30px;
}

.logo a img{
  width: 90px;
}

header ul, footer ul {
  list-style: none;
}

header nav, header ul, header .menu li, .header-dx {
  height: 100%;
}

header nav ul.menu li{
  display: flex;
  align-items: center;
}

header nav ul.menu li a {
  color: black;
  text-decoration: none;
  font-size: 12px;
  height: fit-content;
}

header .menu li:hover {
  border-bottom: 2px solid black;
}


header .bottone {
  color: white;
  text-decoration: none;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
}

.container {
  width: 55%;
  margin: 0 auto;
}

.jumbotron {
  background-color: rgb(180, 208, 231);
}

.jumbotron .container {
  width: 65%;
  padding-top: 50px;
}

.jumbotron .titolo {
  width: 100%;
  font-size: 75px;
}

h1 {
  font-size: 50px;
  line-height: 75px;
  font-weight: 900;
}

img {
  width: 100%;
}

.jumbo-bottom{
  width: 100%;
  height: 320px;
  padding-top: 50px;
}

.jumbotron .text{
  width: calc(100%/3);
  font-size: 13px;
  line-height: 17px;
  height: 100%;
}

.img-jumbo{
  width: calc(100%/3*2);
  height: 100%;
  position: relative;
  left: 0;
  top: 0;
}

.img-jumbo img{
  width: 600px;
}

.bottone{
  padding: 5px;
  background-color: rgb(0, 97, 255);
  width: fit-content;
  height: fit-content;
}

.jumbotron .bottone {
  margin-top: 30px;
}

.jumbotron .bottone a {
  color: white;
  text-decoration: none;
}

.jumbotron span.annulla{
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.jumbotron i{
  font-size: 30px;
  padding-bottom: 10px;
}

.piano-business {
  padding-top: 100px;
  padding-bottom: 50px;
}

.titolo-radio-b {
  height: 100%;
  width: 100%;
}

h2{
  font-size: 30px;
}

.radio-b {
  padding-top: 50px;
  padding-bottom: 40px;
}

.radio-b label {
  margin-right: 20px;
}

.piani-b{
  width: 100%;
}

.piano {
  width: calc(100%/3);
  margin-right:25px;
}

.piano:last-of-type:not(piano.orz){
  margin-right:0;
}

.bordo {
  border: 1px solid black;
  width: 100%;
}

.bordo:not(.piano.orz .bordo) {
  min-height: 720px;
}

.piano .gruppo {
  width: 100%;
  height: 35px;
  display: flex;
  align-content: center;
  justify-content: center;
  border-bottom: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
}

.piano .gruppo span{
  margin-left: 5px;
}

.piano .info {
  width: 100%;
}

.piano .info:not(.piano.orz .info) {
  min-height: 285px;
}

.padding-piano {
  padding-left: 20px;
  padding-right: 20px;
}

.piano .info h3 {
  padding-top: 30px;
}

.piano .info span {
  display: block;
  font-size: 12px;
}

.piano .info h3 + span {
  padding-top: 20px;
}

.piano .info h3 + span + span {
  padding-top: 10px;
  padding-bottom: 30px;
  color: rgb(166, 151, 158);
}

.piano .info ul {
  list-style: none;
  font-size: 12px;
  margin-bottom: 30px;
}

.piano .info ul li {
  margin-bottom: 20px;
}

/*
.piano .info ul li span {
  display: block;
}
*/

.piano .info li::before, .piano .salienti li::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.piano .info li:nth-child(1) ::before{
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-right: 5px;
  content: "\f007";
}

.piano .info li:nth-child(2) ::before{
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-right: 5px;
  content: "\f07b";
}

.piano .info li:nth-child(3) ::before{
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-right: 5px;
  content: "\f1e0";
}

.piano-business .piano:nth-child(2) .info li:nth-child(1) ::before{
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-right: 5px;
  content: "\f0c0";
}

.piano .salienti li::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-right: 5px;
  content: "\f00c";
  color: rgb(36, 104, 255);
}

.piano .bottone {
  margin: auto;
  width: 100%;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.piano .bottone  a{
  color: white;
  text-decoration: none;
  font-size: 12px;
}

.link-acquista-ora{
  padding-top: 20px;
  font-size: 12px;
}

.link-acquista-ora hr{
  width: 50px;
  margin-top: 20px;
}

.salienti {
  padding-left: 20px;
  padding-right: 20px;
}

.salienti h4{
  font-size: 12px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.salienti ul{
  list-style: none;
}

.salienti ul li{
  font-size: 12px;
  padding-bottom: 20px;
}

.piano.orz {
  width: 100%;
  padding-top: 50px;
}

.piano.orz h3 + span{
  font-weight: 700;
  padding-bottom: 20px;
}

.piano.orz p {
  font-size: 12px;
}

.area-bottone {
  width: 40%;
  height: 100%;
  position: relative;
}

.piano.orz .bottone{
  width: fit-content;
  position: absolute;
  top: 20px;
  right: 20px;
}

.piano.orz .info {
  padding-left: 20px;
  padding-right: 20px;
  width: 60%;
  padding-bottom: 30px;
}

.piano.orz .info, .piano.orz .salienti, .piano.orz .bordo {
  height: auto;
}

.partner .container {
  padding: 50px 0;
}

.partner .bottone{
  background-color: white;
  border: 1px solid black;
  margin-top: 15px;
}

.partner .bottone a {
  color: black;
  text-decoration: none;
  font-size: 14px;
}

.partner .text h2 {
  margin-bottom: 15px;
  margin-top: 60px;
  font-size: 18px;
}

.partner .text p {
  font-size: 14px;
}

.info-business {
  padding-top: 100px;
}

.area-card{
  margin-top: 50px;
}

.card {
  width: calc(100%/3);
  height: calc(100%/2);
  padding-right: 40px;
}

.area-card .card{
  margin-bottom: 40px;
}

.card p{
  padding-top: 25px;
  font-size: 12px;
}

.info-business .card img{
  width: 235px;
  align-self: center;
}

.team {
  padding-top: 100px;
  padding-bottom: 100px;
}

.team h2{
  width: 60%;
  padding-bottom: 50px;
}

.team a{
  font-size: 12px;
}


.brand {
  width: 100%;
  background-color: rgb(245, 245, 245);
}

.square {
  width: calc(100%/3);
}

.inner-square {
  padding-top: 100%;
  height: 0;
  overflow: hidden;
  position: relative;
}

.square-content{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.brand .card {
  height: calc(100%/2);
  width: calc(100%/2);
  padding-left: 40px;
  padding-right: 40px;
}

.brand .card img {
  filter:invert(100%);
}

.brand .sx .card:nth-child(1){
  background-color: rgb(162, 211, 155);
}

.brand .sx .card:nth-child(2){
  background-color: rgb(97, 8, 43);
}

.brand .sx .card:nth-child(3){
  background-color: rgb(0, 147, 206);
}

.brand .sx .card:nth-child(4){
  background-color: rgb(255, 28, 28);
}

.brand .dx .card:nth-child(1){
  background-color: rgb(213, 0, 31);
}

.brand .dx .card:nth-child(2){
  background-color: rgb(180, 208, 231);
}

.brand .dx .card:nth-child(3){
  background-color: rgb(13, 36, 129);
}

.brand .dx .card:nth-child(4){
  background-color: rgb(255, 216, 48);
}

.square-content.txt {
  padding-top: 50px;
  padding-left: 40px;
  padding-right: 30px;
  overflow-y: scroll;
  font-size: 12px;
}

.square-content.txt img{
  width: 50%;
}

.square-content.txt hr{
  margin-top: 30px;
  margin-bottom: 30px;
  width: 70px;
}

.square-content.txt p{
  margin-bottom: 30px;
}

.square-content .card:active{
  border: 10px solid rgba(255, 255, 255, 0.648);
}

.prova {
  background-color: rgb(180, 208, 231);
  padding-top: 100px;
  padding-bottom: 100px;
}

.prova-titolo {
  width: 60%;
  color: rgb(97, 8, 43);
}

.prova-button {
  width: 40%;
}

.prova-button .bottone{
  background-color: white;
  padding-left: 30px;
  padding-right: 30px;
}

.prova-button .bottone a{
  color: black;
  text-decoration: none;
  font-size: 11px;
}

.q-and-a {
  padding: 100px 0;
}


.q-and-a h2{
  margin-bottom: 50px;
}

.question{
  width: 100%;
  margin: 40px 0;
  position: relative;
}

.fa-chevron-down, .fa-chevron-up{
  position: absolute;
  right: 30px;
  top: 0px;
  font-size: 12px;
}

.fa-chevron-up {
  display: none;
}

.question h3{
  font-size: 12px;
}

.question p {
  display: none;
  padding-top: 50px;
  font-size: 12px;
}

.question h3:hover ~ p {
  display: block;
}

.question h3:hover ~ .fa-chevron-down {
  display: none;
}

.question h3:hover ~ .fa-chevron-up {
  display: block;
}

.text:not(.jumbotron .text) {
  width: 300px;
  height: 300px;
  margin-left: 30px;
}

.img-partner{
  width: 600px;
}

footer .container {
  width: 70%;
}

.footer-top, .footer-bottom {
  width: 100%;
}

footer h3 {
  font-size: 15px;
  margin-bottom: 20px;
}

footer .menu li a {
  color: white;
}

footer .menu li{
  margin-bottom: 10px;
}
.footer-top {
  margin-bottom: 100px;
}

.footer-bottom {
  color: rgb(153, 153, 153);
  font-size: 12px;
}

footer hr {
  width: 75px;
  margin-bottom: 50px;
  color: white;
}